{% extends "site_base.html" %}
{% load i18n %}

{% block body_class %}full speaker{% endblock %}

{% block head_title_base %}{% trans "Speakers" %} / {{ block.super }}{% endblock %}

{% block body %}
    <h1 class="section-title">{% block subpage_title %}{% blocktrans %}Speaker <span>Information</span>{% endblocktrans %}{% endblock %}</h1>
    {% block content %}{% endblock %}
{% endblock body %}


{% block right %}{% endblock %}
