{% load i18n thumbnail %}

<div class="speakers">
    {% for speaker in accept_speakers %}

        <a id="speaker_id_{{ speaker.id }}"></a>
        {% if not forloop.first %}
        <div class="row-fluid">
            <div class="span12">
                <hr/>
            </div>
        </div>
        <div class="row-fluid hidden-phone"> <!-- extra space below <hr/> for non-phone layout -->
            <div class="span12">&nbsp;</div>
        </div>
        {% endif %}

        <div class="row-fluid">
            <div class="span3 namephoto">
                <strong>{{ speaker.name }}</strong>

                {% if speaker.nickname %}
                    <br/>
                    ({{ speaker.nickname }})
                {% endif %}
                {% if speaker.photo %}
                    <br/>
                    {% thumbnail speaker.photo "200" format="PNG" as im %}
                        <img src="{{ im.url }}" alt="{{ speaker.name }}">
                    {% endthumbnail %}

                    <!-- extra space below photo for phone layout -->
                    <div class="visible-phone">&nbsp;</div>
                {% endif %}
            </div>
            <div class="span9 bio">
                {{ speaker.biography|safe }}

                <p><strong>{% trans "Talk(s)" %}</strong></p>
                <ul>
                {% for proposal in speaker.proposals.all %}
                    {% if proposal.result.accepted %}
                    <li>{{ proposal.title }}</li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
        </div>

    {% endfor %}
</div>
