{% extends "speakers/base.html" %}
{% load boxes_tags i18n %}

{% block content %}

    <p>{% box "talk-proposals" %}</p>

    {% include "speakers/dashboard_speaker_lists.html" %}

    {% if accepting_proposals %}

        <h3>{% trans "To submit a talk" %}:</h3>

        <ol class="steps">
            <li class="done first">{% trans "sign up and log in" %}</li>
            <li class="next second"><a href="{% url speaker_create %}">{% trans "create a speaker profile" %}</a></li>
            <li class="third">{% trans "submit one or more proposals" %}</li>
        </ol>

        <p>{% blocktrans %}You will be able to come back and revise your submission until the deadline. Remember that speakers must register and pay to attend the conference.{% endblocktrans %}</p>
    {% else %}
        <p>{% trans "Talk submissions are now closed." %}</p>
    {% endif %}
{% endblock %}
