{% extends "speakers/base.html" %}
{% load boxes_tags i18n %}

{% block content %}
    <p>{% box "talk-proposals" %}</p>

    {% include "speakers/dashboard_speaker_lists.html" %}

    {% if accepting_proposals %}
        <h3>{% trans "To submit a talk" %}:</h3>

        <ol class="steps">
            <li class="next first"><a href="{% url acct_signup %}?next={{ request.path }}">{% trans "sign up" %}</a> {% trans "and" %} <a href="{% url acct_login %}?next={{ request.path }}">{% trans "log in" %}</a></li>
            <li class="second">{% trans "create a speaker profile" %}</li>
            <li class="third">{% trans "submit one or more proposals" %}</li>
        </ol>
    {% endif %}
{% endblock %}
