{% extends "speakers/base.html" %}
{% load boxes_tags i18n %}

{% block content %}
    <p>{% box "talk-proposals" %}</p>

    {% include "speakers/dashboard_speaker_lists.html" %}


    <h2>{% trans "Edit Speaker Profile" %}</h2>
    <p><a class="btn" href="{% url speaker_edit %}">{% trans "Edit your speaker profile" %}</a></p>

    {% if accepting_proposals %}
        <h3>{% trans "To submit a talk" %}</h3>

        <ol class="steps">
            <li class="done first">{% trans "sign up and log in" %}</li>
            <li class="done second">{% trans "create a speaker profile" %}</li>
            <li class="next third"><a href="{% url proposal_submit %}">{{ proposal_text }}</a></li>
        </ol>

        <p>{% blocktrans %}You will be able to come back and revise your submission until the deadline. Remember that speakers must register and pay to attend the conference.{% endblocktrans %}</p>
    {% else %}
        <p>{% trans "Talk submissions are now closed." %}</p>

    {% endif %}

    <h3>{% trans "Proposals" %}</h3>

    {% if proposals %}
        <table class="table proposals">
            <thead>
            <tr>
                <th>{% trans "Title" %}</th>
                <th>{% trans "Session type" %}</th>
                <th>{% trans "Audience level" %}</th>
                <th>{% trans "Status" %}</th>
                <th>{% trans "Messages" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for proposal in proposals %}
            <tr>
                <td><a href="{% url proposal_detail proposal.pk %}">{{ proposal.title }}</a></td>
                <td>{{ proposal.get_kind_display }}</td>
                <td>{{ proposal.get_audience_level_display }}</td>
                <td>
                    {% if proposal.cancelled %}
                        {% trans "Cancelled" %}
                    {% else %}
                        {% if request.user == proposal.speaker.user %}
                            {% if proposal.result.accepted %}
                                {% trans "Accepted" %}
                            {% else %}
                                {% trans "Submitted" %}
                            {% endif %}
                        {% else %}
                            {% trans "Associated" %}
                        {% endif %}
                    {% endif %}
                </td>
                <td>{{ proposal.messages.all.count }}</td>
                {# <td>{% if not proposal.cancelled %}{% if request.user == proposal.speaker.user %}<a href="{% url proposal_edit proposal.pk %}">Edit</a>{% endif %}{% if request.user == proposal.speaker.user %} | <a href="{% url proposal_cancel proposal.pk %}">Cancel</a>{% else %}<a href="{% url proposal_leave proposal.pk %}">Leave</a>{% endif %}{% endif %}</td> #}
                <td>
                    {% if not proposal.cancelled %}
                        {% if request.user == proposal.speaker.user and proposal.can_edit %}
                            <a href="{% url proposal_edit proposal.pk %}">{% trans "Edit" %}</a> |
                            <a href="{% url proposal_speaker_manage proposal.id %}">{% trans "Add/Remove Speakers" %}</a>
                            {% if proposal.result.accepted %}
                            |
                                {% if proposal.files.exists %}
                                    {% trans "Slides/Paper uploaded" %}

                                    ( <a href="{% url proposal_file proposal.id %}">{% trans "Update" %}</a> )
                                {% else %}
                                    <a href="{% url proposal_file proposal.id %}">{% trans "Upload Slides/Paper" %}</a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {% url proposal_submit as proposal_submit_url %}
        <p>{% trans "No proposals" %}. {% blocktrans %}You can <a href="{{ proposal_submit_url }}">submit one</a> now!{% endblocktrans %}</p>
    {% endif %}

{% endblock %}
