{% load i18n %}
<div class="row-fluid">
    <div class="span2"><a href="http://www.microsoft.com/zh-tw/" target="_blank"><img style="max-height: 37px;" src="{{ STATIC_URL }}img/sponsor_logos/msft.png" alt="Microsoft"></a></div>
    <div class="span2"><a href="http://www.webfaction.com/" target="_blank"><img style="max-height: 30px;" src="{{ STATIC_URL }}img/sponsor_logos/wf_s.png" alt="WebFaction"></a></div>
    <div class="span2"><a href="http://www.zillians.com/" target="_blank"><img style="max-height: 40px;" src="{{ STATIC_URL }}img/sponsor_logos/zillians_s.png" alt="Zillians"></a></div>
    <div class="span2"><a href="http://www.openfoundry.org/" target="_blank"><img style="max-height: 50px;" src="{{ STATIC_URL }}img/sponsor_logos/nsc_s.png" alt="National Science Council"></a></div>
    <div class="span2"><a href="http://www.openfoundry.org/" target="_blank"><img style="max-height: 55px;" src="{{ STATIC_URL }}img/sponsor_logos/citi_s.png" alt="Research Center for Information Technology Innovation Academia Sinica"></a></div>
    <div class="span2"><a href="http://www.openfoundry.org/" target="_blank"><img style="max-height: 50px;" src="{{ STATIC_URL }}img/sponsor_logos/ossf.png" alt="Open Source Software Foundry"></a></div>
</div>
<div class="row-fluid">
    <div class="span2"><a href="http://www.storysensecomputing.com/" target="_blank"><img style="max-height: 45px;" src="{{ STATIC_URL }}img/sponsor_logos/storysense_s.png" alt="StorySense"></a></div>
    <div class="span2"><a href="http://www.pinkoi.com/" target="_blank"><img style="max-height: 40px;" src="{{ STATIC_URL }}img/sponsor_logos/pinkoi_s.png" alt="Pinkoi"></a></div>
    <div class="span2"><a href="http://wingware.com/" target="_blank"><img style="max-height: 40px;" src="{{ STATIC_URL }}img/sponsor_logos/wingware_s.png" alt="Wingware"></a></div>
    <div class="span2"><a href="http://www.tagtoo.com.tw/" target="_blank"><img style="max-height: 35px;" src="{{ STATIC_URL }}img/sponsor_logos/tagtoo_s.png" alt="TagToo"></a></div>
    <div class="span2"><a href="http://www.acomotech.com/" target="_blank"><img style="max-height: 35px;" src="{{ STATIC_URL }}img/sponsor_logos/acomo.png" alt="AcoMo Technology"></a></div>
    <div class="span2"><a href="http://www.lccnet.com.tw/" target="_blank"><img style="max-height: 45px;" src="{{ STATIC_URL }}img/sponsor_logos/lccnet_s.png" alt="lccnet"></a></div>
</div>
<div class="row-fluid">
    <div class="span2"><a href="https://getsentry.com/" target="_blank"><img style="max-height: 50px;" src="{{ STATIC_URL }}img/sponsor_logos/sentry_s.png" alt="Sentry"></a></div>
    <div class="span2"><a href="http://www.linksoft.com.tw/" target="_blank"><img style="max-height: 40px;" src="{{ STATIC_URL }}img/sponsor_logos/linksoft_s.png" alt="Linksoft"></a></div>
    <div class="span2"><a href="{% trans 'http://www.atlassian.com/' %}" target="_blank"><img style="max-height: 50px;" src="{{ STATIC_URL }}img/sponsor_logos/jira_s.png" alt="Atlassian JIRA"></a></div>
    <div class="span2"><a href="http://www.cb21.co.jp/" target="_blank"><img style="max-height: 50px;" src="{{ STATIC_URL }}img/sponsor_logos/catchball21_s.jpg" alt="Catchball21"></a></div>
    <div class="span2"><a href="http://www.liverx.net/" target="_blank"><img style="max-height: 50px;" src="{{ STATIC_URL }}img/sponsor_logos/liverx_s.png" alt="活力藥師網"></a></div>
    <div class="span2"><a href="{% trans 'http://www.quantatw.com/Quanta/english/about/researchinstitute.aspx' %}" target="_blank"><img style="max-height: 50px;" src="{{ STATIC_URL }}img/sponsor_logos/quanta_s.jpg" alt="{% trans 'Quanta Research Institute' %}"></a></div>
</div>
<div class="row-fluid">
    <div class="span2"><a href="http://www.themanxgroup.tw/" target="_blank"><img style="max-height: 50px;" src="{{ STATIC_URL }}img/sponsor_logos/themanx_s.png" alt="{% trans 'The Manx Entertainment Group' %}"></a></div>
    <div class="span2"><a href="http://www.nchc.org.tw/" target="_blank"><img style="max-height: 40px;" src="{{ STATIC_URL }}img/sponsor_logos/nchc_s.png" alt="National Center for High-Performance Computing"></a></div>
    <div class="span2"><a href="http://yowureport.com/" target="_blank"><img style="max-height: 35px;" src="{{ STATIC_URL }}img/sponsor_logos/yowu-2_s.jpeg" alt="YowuReport"></a></div>
</div>
