{% load analytics_tags i18n markitup_tags boxes_tags %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Cache-Control" CONTENT="private, no-cache, no-store">

        <!-- Font Awesome -->
        <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.min.css">
        <!--[if IE 7]>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome-ie7.min.css">
        <![endif]-->

        <link href="{{ STATIC_URL }}img/favicon.ico" rel="shortcut icon" />
        <title>{% block head_title_base %}{% if SITE_NAME %}{{ SITE_NAME }} : {% endif %}{% block head_title %}{% endblock %}{% endblock %}</title>
        <!--  hack to make IE able to apply CSS to elements that it doesn't usually know about. See http://code.google.com/p/html5shim/ -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% comment %}
        <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/base.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/tabs.css" />
        {% endcomment %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/facebox.css" />
        {% markitup_css %}
        {% block css_framework %}{% endblock %}
        {% block extra_head_base %}
            {% block extra_head %}{% endblock %}
        {% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %} {% if LANGUAGE_BIDI %}bidi{% endif %}" id="{% block body_id %}{% endblock %}">



            <header class="header">
                <div class="container">
                    {% include "_nav.html" %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-block">
                                <a class="close" data-dismiss="alert">×</a>
                                <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                    {{ message }}
                                </p>
                            </div>
                        {% endfor %}
                    {% endif %}

                    {% comment %}
                    {% block header %}
                        <h1 id="logo">{% block logo_link_image %}{% endblock %}</h1>
                        {% block slogan %}{% endblock %}
                        <div id="left_tabs">{% block left_tabs %}{% endblock %}</div>
                        <div id="right_tabs">{% block right_tabs %}{% endblock %}</div>
                        <div class="login">{% block login %}{% block locale_switcher %}{% endblock %}{% endblock %}</div>
                        {% block nav %}{% endblock %}
                        {% block header_extra_base %}{% endblock %}
                    {% endblock %}
                    {% endcomment %}
                </div>
            </header>
            <div class="banner hidden-phone">
                <div class="images">
                </div>
            </div>
            <div class="visible-phone">
                <img class="site-logo" src="{{ STATIC_URL }}img/pycontw2013-site-logo.png"/>
            </div>
            <section id="subnav">
                <div class="container">
                    {% block subnav_base %}{% block subnav %}{% endblock %}{% endblock %}
                </div>
            </section>

            {% block body_outer %}
                {% block banner %}{% endblock %}
                <section id="body">
                    <div class="container">
                        <div class="row">
                            <div class="span10 offset1">

                        {% block body_base %}{% block body %}{% endblock %}{% endblock %}

                            </div>
                        </div>
                    </div>

                </section>
            {% endblock %}

        <footer>
            {% box "sponspors_footer" %}
            <hr />
            <div class="container">{% block footer %}{% endblock %}</div>
        </footer>


        <script type="text/javascript" src="{% block jquery_src %}https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js{% endblock %}"></script>
        <script src="{{ STATIC_URL }}js/jquery.eqheight.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(function(){
                function dynamic_banner(){
                    var banner_width = Math.min(0, Math.max(-(1920 - $(window).width()) / 2, -467));
                    $(".banner .images").css("margin-left", banner_width + "px");
                }
                dynamic_banner();
                $(window).on("resize", dynamic_banner);

                // equal height for posts on homepage
                $(".row-fluid").eqHeight(".span3, .span6, .span9");
            })
        </script>
        <script src="{{ STATIC_URL }}js/base.js" type="text/javascript"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.js" type="text/javascript"></script>
        {% block extra_js %}{% endblock %}
        <!--script src="{{ STATIC_URL }}uni_form/uni-form.jquery.js" type="text/javascript"></script-->
        <script type="text/javascript" src="{{ STATIC_URL }}markitup/jquery.markitup.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}markitup/sets/markdown-custom/set.js"></script>

        {% include "_facebox_js.html" %}
        <script type="text/javascript" charset="utf-8">
            $(document).ajaxSend(function(event, xhr, settings) {
                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie != '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
                function sameOrigin(url) {
                    // url could be relative or scheme relative or absolute
                    var host = document.location.host; // host + port
                    var protocol = document.location.protocol;
                    var sr_origin = '//' + host;
                    var origin = protocol + sr_origin;
                    // Allow absolute or scheme relative URLs to same origin
                    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                        // or any other URL that isn't scheme relative or absolute i.e relative.
                        !(/^(\/\/|http:|https:).*/.test(url));
                }
                function safeMethod(method) {
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }

                if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            });
        </script>

        <script type="text/javascript">
            $(document).ready(function($) {
                $("a.boxes-edit-link").click(function() {
                    $.facebox.settings.loadingImage = "/site_media/static/img/loading.gif";
                    $.facebox.settings.closeImage = "/site_media/static/img/closelabel.png";
                    $(document).bind("beforeReveal.facebox", function() {
                        $("#facebox .content").css("width", "600px");
                    });
                    var editable = this;
                    $(document).bind("reveal.facebox", function() {
                        $("#edit_form").submit(function() {
                            $.post(editable.href, $(this).serialize(), function(data) {
                                $(document).trigger("close.facebox");
                                $(editable).load(data);
                                $(document).unbind("reveal.facebox");
                            });
                            return false;
                        });
                    });
                    $.facebox({ajax: this.href});
                    return false;
                });
            });
        </script>

        {% analytics %}

        {% block extra_body_base %}
            {% block extra_body %}{% endblock %}
        {% endblock %}
    </body>
</html>
