{% extends "site_base.html" %}
{% load brick boxes_tags biblion_tags sponsors_pro_tags thumbnail i18n %}

{% block head_title_base %}{% trans "Home" %} / {{ block.super }}{% endblock %}

{% block body_class %}home{% endblock %}

{% block slogan %}
{% endblock %}

{% block header_extra_base %}
    <div id="python"></div>
{% endblock %}

{% block body %}

    {% comment %}
    {% sponsors as sponsors %}
    <div class="mainbox">
        {% box "mainbox" %}
    </div>
    {% endcomment %}

    {% latest_announcements as posts %}

    <div class="">
        <div class="row-fluid">
            <div class="span12">
                <div class="banner_caption">
                    <a href="http://tw.pycon.org/2013/venue/">
                    <p>{% trans "Academia Sinica: Humanities and Social Sciences Building on May 25 - 26" %}</p>
                    </a>
                </div>
                <img src="{{ STATIC_URL }}img/aboutpycon.jpg" alt="">
                <div id="pycon_intro" class='{%trans "intro-en" %}'>{% box "homepage_main" %}</div>
                <img src="{{ STATIC_URL }}img/gallery.jpg"><img src="{{ STATIC_URL }}img/gallery.jpg" class="visible-desktop" style="float: left;">
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12 brick">
                <div class="blog-post">
                    <h2><a href="{% url sponsor_list %}"><span class="emphasis">{%trans "Sponsors!" %}</span></a></h2>
                    <div id="sponsor_logos">
                        {% include "_homepage_sponsor_logos.html" %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
        {% for post in posts %}
            <div class="span6 brick">
                <div class="blog-post">
                    <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                    {% include "biblion/dateline.html" %}
                    <div class="teaser">{{ post.teaser_html|safe }}</div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:"2" and not forloop.last %}
        </div>
        <div class="row-fluid">
            {% endif %}
        {% endfor %}
        </div>
    </div>

    {#  SECTION: silver and media sponsors #}
    {% comment %}
    <div class="span-24 last">
        <hr />
        <div class="other-sponsors">
            <h6>Sponsors</h6>
            <a href="{% url sponsor_list %}">
            {% for sponsor in sponsors %}
                {% thumbnail sponsor.website_logo "100x60" format="PNG" as logo %}
                    <span><img src="{{ logo.url }}" style="margin:{{ logo|margin:"100x60" }}" alt="{{ sponsor.name }}" width="{{ logo.x }}" height="{{ logo.y }}" /></span>
                {% endthumbnail %}
            {% endfor %}
            </a>
        </div>
    </div>
    {% endcomment %}
{% endblock %}

{% block extra_body %}
    {% if sponsors|length > 6 %}
        <script src="{{ STATIC_URL }}js/jquery.cycle.all.js" type="text/javascript"></script>
        <script>
            $(function(){
                $('#slider li:first').fadeIn(1000, function() {
                    $('#slider').cycle({ pager: '#slider-nav', timeout: 7000 });
                });
            });
        </script>
    {% endif %}
{% endblock %}
