{% comment %}
<div>
    <b>View</b>:
        <a href="#type-talk">Talks</a> |
        <a href="#type-panel">Panels</a> |
        <a href="#type-tutorial">Tutorials</a>
        <a href="#type-poster">Posters</a>
</div>

<div class="badges legend">
    <div class="badge extreme">E</div><div class="label"> = EXTREME PyCon</div>
    <div class="clear"></div>
    <div class="badge invited">I</div><div class="label"> = Invited</div>
</div>
{% endcomment %}

{% for type, props in proposals.iteritems %}
    {% for proposal in props %}
        {% if forloop.first %}
            {# <h3 id="type-{{ proposal.get_session_type_display|slugify|lower }}">{{ proposal.get_session_type_display }}{{ props|length|pluralize }}</h3> #}
            <table class="table">
                <thead>
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Result
                    </th>
                    <th>
                        Comments
                    </td>
                    <th>
                        +1
                    </th>
                    <th>
                        +0
                    </th>
                    <th>
                        &minus;0
                    </th>
                    <th>
                        &minus;1
                    </th>
                    <th>
                        Total
                    </th>
                </tr>
                </thead>
        <tbody>
        {% endif %}
        <tr class="{{ proposal.latest_vote }}">
            <td>
                <div class="title">
                    <b>#{{ proposal.number }}</b>:
                    <a href="{% url review_detail proposal.pk %}">{{ proposal.title }}</a>
                </div>
                <div class="metadata">
                    {{ proposal.get_audience_level_display }}
                    {{ proposal.get_kind_display }}
                    by
                    {{ proposal.speaker }}
                    {% if proposal.additional_speakers.all %}
                        with
                        {{ proposal.additional_speakers.all|join:", " }}
                    {% endif %}
                    <div class="badges">
                        {% if proposal.extreme_pycon %}
                            <div class="badge extreme">E</div>
                        {% endif %}
                        {% if proposal.invited %}
                            <div class="badge invited">I</div>
                        {% endif %}
                    </div>
                    Allowed to release: {{ proposal.speaker.release_permission }}
                </div>
            </td>
            <td class="result {{ proposal.result.get_accepted_display }}">
                {{ proposal.result.get_accepted_display }}
            </td>
            <td class="count">
                {{ proposal.comment_count }}
            </td>
            <td class="count plus-one">
                {{ proposal.plus_one }}
            </td>
            <td class="count plus-zero">
                {{ proposal.plus_zero }}
            </td>
            <td class="count minus-zero">
                {{ proposal.minus_zero }}
            </td>
            <td class="count minus-one">
                {{ proposal.minus_one }}
            </td>
            <td class="count">
                {{ proposal.total_votes }}
            </td>
        </tr>
        {% if forloop.last %}
            </tbody>
            </table>
        {% endif %}
    {% endfor %}
{% empty %}
    <p>No matching proposals.</p>
{% endfor %}
