{% extends "review/base.html" %}

{% block body %}
    <h1>Proposals</h1>

    {% include "review/_review_table.html" %}
    {% block extra_js %}
    <script src="https://bitbucket.org/pycontw/reviewer-script/raw/master/reviewer.js" type="text/javascript"></script>
    {% endblock %}
{% endblock %}
